@charset "UTF-8";

body {
    background-color: #d7b4e99a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: darkviolet;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#principal {
    text-align: center;
    background-color: darkviolet;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
    color: #74c200;
    font-style: italic;
    text-decoration-line: underline;
}
.basico {
    color: #7ea82a;
    font-weight: bolder;
}
.intermediario {
    color: cornflowerblue;
    font-weight: bolder;
}
.avançado {
    color: chocolate;
    font-weight: bolder;
}
p {
    text-align: justify;
}